.settings-page{
    padding-top: 150px;

    .settings-container{

        .settings-header{
            margin-bottom: $space-md;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);

            padding: $space-md 0;

            h1{
                font-size: 2rem;
                margin-bottom: $space-sm;
            }

            p{
                color: $color-text-dark;
            }
        }

        .settings-content{
            display: flex;
            gap: $space-lg;
            margin-top: $space-lg;
            align-items: flex-start;

            .settings-main-content{
                flex: 1;
                background: white;
                border: 1px solid rgba(0, 0, 0, 0.1);
                border-radius: $border-radius;
                padding: $space-lg;
                box-shadow: $box-shadow;

                .settings-content-section{
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    padding-bottom: $space-md;
                    margin-bottom: $space-md;

                    .settings-content-section-header{

                        h3{
                            font-size: 1.25rem;
                            margin: 0;
                        }   

                        p{
                            color: $color-text-gray;
                            font-size: 0.9rem;
                        }
                    }
                }

                .settings-content-section:last-child{
                    border-bottom: none;
                    padding-bottom: 0;
                    margin-bottom: 0;
                }
            }

            .settings-sidebar-links{
                width: 250px;

                .settings-menu{
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    .settings-menu-item{

                        a{
                            display: block;
                            padding: $space-sm $space-md;
                            color: $color-text-dark;
                            border-left: 3px solid transparent;
                            text-decoration: none;
                        }

                        &.active{

                            a{
                                font-weight: 600;
                                border-left: 3px solid $border-color;
                            }
                        }
                    }
                }
            }
        }
    }
}