.form-group{
    margin-bottom: $space-sm;

    img{

        &.current-avatar, 
        &.current-cover{
            display: block;
            max-width: 150px;
            height: auto;
            border-radius: $border-radius;
            margin-bottom: $space-sm;
        }

        &.current-cover{
            max-width: 100%;
            height: auto;
            border-radius: $border-radius;
            margin-bottom: $space-sm;
        }
    }

    label{
        display: block;
        margin-bottom: $space-xs;
        font-weight: $font-weight-semibold;
    }

    input, textarea, select {
        font-family: $font-body;
        font-size: $font-size-xs;
        font-weight: $font-weight-normal;
        padding: $space-sm $space-md;

        border: $border-height-sm solid $border-color;
        border-radius: $border-radius-lg;

        background: white;
        color: #000;

        width: 100%;

        &:focus {
            outline: none;
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
            color: #000;
        }
    }

    button, input[type="submit"] {
        font-family: $font-body;
        font-size: $font-size-sm;
        font-weight: $font-weight-normal;
        padding: $space-sm 20px;

        border: none;
        border-radius: $border-radius-lg;

        background: $accent-cyan;
        color: white;

        background: $color-text-dark;

        cursor: pointer;
        transition: all 0.3s ease;

        &.full-width{
            width: 100%;
        }

        &:hover {
            background: darken($color-text-dark, 10%);
        }
    }

    a{
        &.btn-push-up{
            display: inline-block;
            margin-top: $space-md;
        }
    }

    &:last-child{
        margin-bottom: 0;
    }
}