.sketch-border {
  border: 2px dashed $color-text;
  border-radius: 12px;
}

.sketch-bg {
  background: repeating-linear-gradient(
    45deg,
    $color-background,
    $color-background 10px,
    $color-surface 10px,
    $color-surface 20px
  );
}